/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
  background: rgb(188, 179, 159);
	font-family: 'Open Sans', sans-serif;
  color: white;
  overflow: hidden;
}

h1, h2, h3 {
  font-family: 'Bangers', cursive;
  color: black;
}

p, li {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

div.modal{
  visibility: hidden;
  height: 50vh;
  width: 60vw;
  /* max-width: 400px; */
  position: fixed;
  top: 47%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
  background-color: rgba(244,207,195,0.9);
  border-style: solid;
  border-color: darkgray;
  border-width: thick;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 5px 2.5px 10px 0px rgba(0,0,0,0.2);
  text-align: center;
}

div.modal#match-end {
  /* max-width: 700px; */
}

div.modal#level-intro {
  height: 25vh;
  width: 50vw;
  background-color: rgba(244,207,195,0.0);
  box-shadow: none;
  border-style: none;
}

div.modal#alert {
  visibility: inherit;
  height: 25vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

div.modal.open{
  visibility: visible;
}

div.overlay {
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

div.overlay.open {
  visibility: visible;
}

div.tray{
  visibility: hidden;
  width: 100vw;
  height: 225px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #f9d2c5;
  border-radius: 4px;
  padding: 30px;
  box-shadow: 5px 2.5px 10px 0px rgba(0,0,0,0.2);
  text-align: center;
}

div.tray.open{
  visibility: visible;
}

div.blind {
  visibility: hidden;
  width: 100%;
  height: 50%;
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 25px;
}

div.blind.top {
  background: rgb(129, 87, 74);
  top: 0;
  align-items: flex-end;
}

div.blind.bottom {
  background: rgb(75, 132, 114);
  bottom: 0;
  align-items: baseline;
}
/* blind animations */
@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}

@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
}

@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* end */

div.blind.open {
  visibility: visible;
}

button {
	display: block;
	padding: 10px 20px;
  /* margin: 20px; */
  min-width: 125px;
	vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
  font-variant-caps: all-small-caps;
	text-decoration: none;
	font-size: 1.25em;
  color: rgb(55, 47, 37);
	background-color: rgb(188, 179, 159);
  border-width: medium;
  border-radius: 10px;
}

button:hover {
	background-color: white;
  cursor: pointer;
}

button:active {
  /* margin-right: 10px;
  margin-bottom: 10px; */
}

button.hide {
  visibility: hidden;
}

.score-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  color: black;
  padding: 15px;
  margin: 0 50px;
  width: 200px;
  border-radius: 20px;
  border-style: groove;
  border-width: 6px;
  border-color: rgb(114,93,74);
  box-shadow: 5px 2.5px 10px 0px rgba(0,0,0,0.2);
}


.score-style {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: rgb(76,62,49);
  font-variant: all-small-caps;
  text-align: center;
}

div.score-style#computer-score, #player-score, #level-number {
  font-weight: bold;
  font-variant: normal;
  font-size: 40px;
}

/* score animations */
@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

.flash.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* end */

.fighter-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border-width: 0px;
  background-color: white;
  border-style: solid;
  border-color: rgb(74,85,83);
  box-shadow: 5px 2.5px 10px 0px rgba(0,0,0,0.2);
}

.fighter-circle.empty {
  border-width: 2px;
  background-color: lightgray;
  border-style: dashed;
  border-color: darkgray;
  box-shadow: 5px 2.5px 10px 0px rgba(0,0,0,0.2);
}

.battle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  background-color: white;
  border-style: double;
  border-radius: 50%;
  border-width: 5px;
  border-color: rgb(74,85,83);
  box-shadow: 5px 2.5px 10px 0px rgba(0,0,0,0.2);
  width: 150px;
  height: 150px;
}

.battle-button:hover {
  border-style: solid;
  border-width: 7px;
}

.battle-button:active {
  border-color: navy;
}

.battle-button > a > img {
  height: 125px;
  opacity: 1;
}

.choose-fighter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  font-family: 'Bangers', cursive;
  font-size: 3em;
  text-shadow: 2px 2px 8px black;
}

#body-container {
  height: 100%;
  width: 100%;
  display: grid;
  margin: 0;
  grid-template-rows: 150px auto 200px;
  row-gap: 5px;
}

#header {
  background: rgb(129, 87, 74);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.game-title {
  visibility: hidden;
  padding: 15px;
  font-family: 'Bangers', cursive;
  font-size: 5em;
  text-shadow: 2px 2px 8px black;
  margin: 0 20px;
}

.game-title.open {
  visibility: visible;
}

#arena-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/backgrounds/game_background_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: groove;
  border-width: 10px 0 0 0;
  border-color: rgb(114,93,74);
}

#level-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  padding: 20px
}

#game-instructions, #level-buttons {
  display: flex;
  flex-direction: column;
}

#game-instructions {
  width: 60%;
  text-align: left;
  justify-content: flex-start;
}

#level-buttons {
  width: 40%;
  justify-content: space-around;
  align-items: center;
}

#level-intro-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
}

#level-intro-wrapper > h1 {
  font-size: 3em;
  margin-bottom: 0;
}


#level-intro-wrapper > button {
  margin-top: 50px;
}

#arena {
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#arena.open {
  visibility: visible;
}

#battle-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#player-wrapper {
  background: rgb(75, 132, 114);
  border-style: groove;
  border-width: 10px 0 0 0;
  border-color: rgb(114,93,74);
}

#panel {
  visibility: hidden;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  padding: 15px;
}

#panel.open {
  visibility: visible;
}

#battle-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

#level-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  padding: 15px;
  font-family: 'Bangers', cursive;
  font-size: 3em;
  text-shadow: 2px 2px 8px black;
  word-spacing: 10px;
}

#level-number {
  font-size: 1.5em;
}

#game-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

#match-end {
  display: flex;
  justify-content: center;
}

.results-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  color: black;
  height: 100%;
  width: 50%;
}

.battle-results {
  font-family: 'Bangers', cursive;
  font-size: 3em;
  color: white;
  text-shadow: 2px 2px 8px black;
}

#player-winner, #player-loser {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#player-winner.open, #player-loser.open {
  visibility: visible;
}
